*{
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: grid;
	place-items: center;
}

.container{
	width: 900px;

}

.carousel{
	position: relative;
}

.carousel-inner{
	background-color: #f4f4f4;

}

.carousel-item{
	text-align: center;
	padding: 100px;

	display: none;
}

.user{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.jobtitle{
	letter-spacing: 2px;
}

.contact-btn{
	background-color: steelblue;
	color: #fff;
	text-decoration: none;
	border-radius: 15px;
	padding: 10px 15px;
}

.carousel-indicators{
	width: 100%;
	text-align: center;
	background:linear-gradient(transparent,#f1f1f1);
	padding: 20px;

	position: absolute;
	left: 50%;
	bottom: 0;

	transform: translate(-50%);
}

.dot{
	width: 8px;
	height: 8px;
	background-color: #bbb;
	border-radius: 50%;
	list-style-type: none;

	display: inline-block;
	margin: 0px 2px;

	cursor: pointer;
	transition: all 1s;
}

.dot:hover,.active{
	background-color: #888;
}

.carousel-control-prev,.carousel-control-next{
	color: #888;
	font-size: 25px;
	background-color: ;
	padding: 20px;

	position: absolute;
	top: 50%;

	transform: translateY(-50%);

	transition: all 1s;
}

.carousel-control-prev{
	left: 0;
}

.carousel-control-next{
	right: 0;
}

.carousel-control-prev:hover{
	color: #888;

	animation-name: forleft;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.carousel-control-next:hover{
	color: #888;

	animation-name: forright;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes forleft{
	from{
		left: 0;
		opacity: 0.5;
	}
	to{
		left: 10px;
		opacity: 1;
	}
}

@keyframes forright{
	from{
		right: 0;
		opacity: 0.5;
	}
	to{
		right: 10px;
		opacity: 1;
	}
}